.DashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & .DashboardContentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    & .worldMapContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      & .mapContainer {
        height: 100%;
        width: 100%;
      }
    }

    & .DashboardContent {
      z-index: 1;
      position: relative;
      padding: 20px;
      display: flex;
    //   flex-direction: column;    
    //   align-items: center;
    //   justify-content: center;
    //   padding: 20px;
    //   background-color: rgba(255, 255, 255, 0.8);
    //   border-radius: 10px;
    //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}
