.widgetDataWrapper {
  height: 100%;
  display: flex;
  align-items: start;
  pointer-events: none;

  .WidgetDataContainer {
    pointer-events: none;
    max-height: 100%;
    height: fit-content;
    display: flex;
    column-gap: 20px;
    overflow: auto;
    justify-content: space-between;

    // margin-top: 16px;
    & .forecastContainer {
      margin-top: 16px;
      display: flex;
      flex-direction: column;

      & .forecastContainerR1 {
        display: flex;
        height: 60px;
        column-gap: 30px;
      }
      & .forecastContainerR2 {
        display: flex;
        height: 60px;
        column-gap: 30px;
      }
    }
  }
}

.widgetDataWrapper.bottom {
    flex-direction: row;
  align-items: end;
}
.widgetDataWrapper.right {
    flex-direction: column;
  align-items: end;
}
.widgetDataWrapper.left {
  flex-direction: column;
  align-items: start;
}

.WidgetDataContainer.left{
    flex-direction: column;
}
.WidgetDataContainer.right{
    flex-direction: column;
}
.miniatureChartContainer {
  height: 120px; // Ensure the container has enough height
  width: 100%; // Ensure the container takes full width
  position: relative; // Ensure the chart is positioned correctly
  overflow: visible; // Ensure the chart is not clipped
}
